{% extends 'base.html' %}
{% load static %}

{% block body %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">All appointments</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">All appointments</li>
            </ol>
        </div>
        {% for appointment in appointments %}
        <div class="card m-4">
            <div class="card-header">
                On - {{appointment.date}}
            </div>
            <div class="card-body">
                {% if user.is_doctor %}
                    <h5 class="card-title">{{appointment.patientUsername}}</h5>
                {% else %}
                    <h5 class="card-title">{{appointment.doctorUsername}}</h5>
                {% endif %}
                <p class="card-text">Message -{{appointment.description}}</p>
                <p class="card-text">Status - {{appointment.status}}</p>
            </div>
        </div>
        {% endfor %}
    </main>
    
</div>
{% endblock body %}