{% extends 'base.html' %}
{% load static %}

{% block body %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-4 col-md-8">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">All appointments</div>
                                    <h3 class="m-3">{{totalAppointments}}</h3>
                                    
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-8">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Pending/Rejected appointments</div>
                                    <h3 class="m-3">{{pendingApointments}}</h3>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-8">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Approved appointments</div>
                                    <h3 class="m-3">{{appovedAppointments}}</h3>
                                </div>
                            </div>
                        </div>

                    </div>
                    {% for appointment in appointments %}
                    <div class="card m-4">
                        <div class="card-header">
                            On - {{appointment.date}}
                        </div>
                        <div class="card-body">
                          {% if user.is_doctor %}
                          <h5 class="card-title">{{appointment.patientUsername}}</h5>
                          {% else %}
                          <h5 class="card-title">{{appointment.doctorUsername}}</h5>
                          {% endif %}
                          <p class="card-text">Message -{{appointment.description}}</p>
                          <p class="card-text">Status - {{appointment.status}}</p>
                          {% if user.is_doctor %}
                          <a href="{% url 'approve' appointment.pk %}" class="btn btn-primary">Approve</a>
                          <a href="{% url 'reject' appointment.pk %}" class="btn btn-primary">Deny</a>
                          {% else %}
                          <a href="{% url 'cancel' appointment.pk %}" class="btn btn-primary">Cancel</a>
                          {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </main>
                
            </div>
{% endblock body %}